/* ############### SECTION BACKGROUND IMAGE ############# */
  /* DESKTOP __________________________________________________________________________________________*/
  #bg-image{
    /* Image parallax */
    background: url("../img/bg-concept.jpg") no-repeat;
    
    /* Set a specific height */
    height: 75rem; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  /* TABLETTE __________________________________________________________________________________________*/
  @media only screen and (max-width: 768px) {
    #bg-image { 
      background: url("../img/bg-concept-pad.jpg") no-repeat;
      height: 60%;
    }
  }

  /* SMARTHPHONE __________________________________________________________________________________________*/
  @media only screen and (max-width: 459px) {
    #bg-image{
      background: url("../img/bg-concept-phone.jpg") no-repeat;
      height: 40%; 
    }
  }

/* ############ END SECTION BACKGROUND IMAGE ############ */
/* ############### SECTION IMAGE PARTNERS ############### */
  #blocImgPartenaire{
    display: block;
    width: 100%;
  }
  .logoPartner{
    max-height: 5rem;
  }
/* ############ END SECTION IMAGE PARTNERS ############ */
/* ############ SECTION ASIDE INFO ############ */
  /* POSITION RESEAUX SOCIAUX */
/*   aside .container{
    padding-right: 0;
    padding-left: 0;
  } */
  aside .row{
    margin-top: 2rem;
  }
  /* END POSITION RESEAUX SOCIAUX */
/* ############ END SECTION ASIDE INFO ############ */
/* PARAMETRE IFRAME YOUTUBE */
  iframe{
    border-radius: 1rem;
  }
/* END PARAMETRE IFRAME YOUTUBE */
  /* ############### SECTION IMAGE CARDS ################ */
/*   #cardInfo1{
    background: url("../img/avatar_base.png") no-repeat;
  }
  #cardInfo2{
    background: url("../img/avatar_base.png") no-repeat;
  }
  #cardInfo3{
    background: url("../img/avatar_base.png") no-repeat;
  }
  #cardInfo4{
    background: url("../img/avatar_base.png") no-repeat; */
  /* } */

  /* ############# END SECTION IMAGE CARDS ############## */

