/* ############### SECTION BACKGROUND IMAGE ############# */
  /* DESKTOP __________________________________________________________________________________________*/
  #bg-image{
    /* Image parallax */
    background: url("../img/bg-event.jpg") no-repeat;
    /* Set a specific height */
    height: 75rem; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  /* TABLETTE __________________________________________________________________________________________*/
  @media only screen and (max-width: 768px) {
    #bg-image { 
      background: url("../img/bg-event-pad.jpg") no-repeat;
      height: 60%;
    }
  }

  /* SMARTHPHONE __________________________________________________________________________________________*/
  @media only screen and (max-width: 459px) {
    #bg-image{
      background: url("../img/bg-event-phone.jpg") no-repeat;
      height: 40%; 
    }
  }

/* ############ END SECTION BACKGROUND IMAGE ############ */
/* ############### SECTION IMAGE PARTNERS ############### */
  #blocImgPartenaire{
    display: inline-grid;
    width: 100%;
    height: 5rem;
  }
/* ############ END SECTION IMAGE PARTNERS ############ */
/* ############ SECTION ASIDE INFO ############ */
  /* POSITION RESEAUX SOCIAUX */
  aside .row{
    margin-top: 2rem;
  }
  /* END POSITION RESEAUX SOCIAUX */
/* ############ END SECTION ASIDE INFO ############ */