/* ############### SECTION BACKGROUND IMAGE ############# */
  /* DESKTOP __________________________________________________________________________________________*/
  #bg-image{
    /* Image parallax */
    background: url("../img/bg-job.jpg") no-repeat;
    /* Set a specific height */
    height: 75rem; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  /* TABLETTE __________________________________________________________________________________________*/
  @media only screen and (max-width: 768px) {
    #bg-image { 
      background: url("../img/bg-job-pad.jpg") no-repeat;
      height: 60%;
    }
  }

  /* SMARTHPHONE __________________________________________________________________________________________*/
  @media only screen and (max-width: 459px) {
    #bg-image{
      background: url("../img/bg-job-phone.jpg") no-repeat;
      height: 40%; 
    }
  }

/* ############ END SECTION BACKGROUND IMAGE ############ */
/* ############### SECTION IMAGE PARTNERS ############### */
  #blocImgPartenaire{
    display: inline-grid;
    width: 100%;
    height: 5rem;
  }
/* ############ END SECTION IMAGE PARTNERS ############ */

/* ############### SECTION MODAL JOB ############### */
.modal-header-center{
  text-align: center;
}
.modal-dialog{
  margin-top: 8%;
  max-width: 90%;
  padding: 2% 10%;
}
.modal-body{
  padding: .5rem 3rem;
}
.product-image img{
max-height: 100%;
width: auto;
}
.jobModalStyle h4{
  font-size: 2.5rem;
  font-family: "Raleway Bold", sans-serif;
  /* font-family: "Helvetica Neue Medium"; */
  margin-bottom: 2.5rem;
}
.jobModalStyle p{
  font-size: 1.7rem;
  line-height: 3rem;
  /* font-family: "Helvetica Neue Light"; */
  font-family: "Raleway Light", sans-serif;
}
.boldModal{
  font-weight: bolder;
  margin-bottom: 0;
  letter-spacing: 0.08rem;
}
/* ############ END SECTION MODAL JOB ############ */

/* ############### SECTION IMAGE RIGHT ################ */
/* DESKTOP __________________________________________________________________________________________*/
/* BLOC CARD */
  .title-cardContainer{
    margin: 1%;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: left;
    font-family: 'Raleway Bold', sans-serif;
  }
  .btn-right{
    float: right;
  }

  .containerCard-image-right{
    background: #FBFBFB;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem auto;
    max-height: 18rem;
    max-width: 90%;
  }

/*  details  */
  .product-details-image-right {
    position: relative;
    text-align: left;
    overflow: hidden;
    /* padding: 1rem; */
    height: 100%;
    float: left;
    width: 80%;
    padding: 2rem 10rem 2rem 2rem;
  }

/* 	Product Name */
  .containerCard-image-right .product-details-image-right h1{
    font-family: 'Raleway bold', sans-serif;
    display: inline-block;
    position: relative;
    color: #005C7D;
    margin: 1%;
    font-size: 2.4rem;
    font-weight: bolder;
  }

/* The most important information about the product */
  .containerCard-image-right .product-details-image-right > p {
    font-family: 'Raleway Thin', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #344055;
  }

/* DISPLAY IMAGE CARD WITH RESPONSIVE < 1000PX */
@media only screen and (max-width: 1350px) {
  .product-image-right {
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .product-details-image-right {
    width: 100%;
    padding: 2rem 10rem 2rem 2rem;
  }
}

/* Card image  */
/* CARD IMAGE RIGHT */
  .product-image-right {
    transition: all 0.3s ease-in-out;
    position: relative;
    height: 100%;
    /* height: 12rem; */
    float: left;
    width: 20%;
  }
  .containerCard-image-right img {
    width: 100%;
    height: 100%;
    float: left;
  }

  .product-image:hover img {
    transition: all 0.3s ease-out;
    transform: scale(1.2);
  }
  .product-image-right:hover img {
    transition: all 0.3s ease-out;
    transform: scale(1.2);
  }

  /* RETURN BUTTON */
  .btn-outline-secondary{
    color: #005C7D;
  }
  .btn-outline-secondary:hover{
    background-color: #005C7D;
    border-color: #005C7D;
  }
  .btn{
    border-radius: 1rem;
  }
  .sizeLinks{
    font-size: 1.4rem;
  }
/* END RETURN BUTTON */

/* FIN BLOC CARD */

/* ############# END SECTION CARDS RIGHT ############## */

/* ############ SECTION ASIDE INFO ############ */
/* POSITION RESEAUX SOCIAUX */
  aside .row{
    margin-top: 2rem;
  }
  /* END POSITION RESEAUX SOCIAUX */
/* ############ END SECTION ASIDE INFO ############ */

.containerCard-image-right{
  background: #FBFBFB;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem auto;
  max-height: 18rem;
  max-width: 90%;
}
