/* ######################## GENERAL ######################## */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ANIMATION BURGER BUTTON 2 */
/* ICONE menuOne */
.menuOne{
  width: 30px;
  height: 30px;
  position: relative;
  justify-content: flex-end;
  transition: .1s;
  margin: 10px 10px;
  cursor: pointer;
  display: inline-block;
}
.menuOne span{
  width: 5px;
  height: 5px;
  background-color: #FBA919;
  display: block;
  border-radius: 50%;
}
.menuOne:hover span{
  transform: scale(1.3);
  transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}
.menuOne span:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
}
.menuOne span:nth-child(2){
  position: absolute;
  left: 12px;
  top: 0;
}
.menuOne span:nth-child(3){
  position: absolute;
  right: 0;
  top: 0;
}
.menuOne span:nth-child(4){
  position: absolute;
  left: 0;
  top: 12px;
}
.menuOne span:nth-child(5){
  position: absolute;
  left: 12px;
  top: 12px;
}
.menuOne span:nth-child(6){
  position: absolute;
  right: 0px;
  top: 12px;
}
.menuOne span:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.menuOne span:nth-child(8){
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.menuOne span:nth-child(9){
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.clickMenuOne{
  transform: rotate(180deg);
  cursor: pointer;
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}
.clickMenuOne span{
  border-radius: 50%;
  transition-delay: 200ms;
  background-color:#FBA919;
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.clickMenuOne span:nth-child(2) {
  position: absolute;
  left: 6px;
  top: 6px;
}
.clickMenuOne span:nth-child(4) {
  position: absolute;
  left: 6px;
  top: 18px;
}
.clickMenuOne span:nth-child(6) {
  position: absolute;
  right: 6px;
  top: 6px;
}
.clickMenuOne span:nth-child(8) {
  position: absolute;
  left: 18px;
  bottom: 6px;
}
/* END ANIMATION BURGER BUTTON 2 */

/* GENERAL */
html{
    font-size: 62.5%;
}
body, html{
    height: 100%;
}
body {
  font-family: 'Raleway Medium', sans-serif;
  color: #005C7D;    
}
/* END ICONE MENU */
/* END GENERAL */


/* DESKTOP ______________________________________________________________________________________________*/

/* ############ HEADER ############ */
/* NAVBAR */
  .navbar{
    padding: 1.2rem 1rem 1rem 3.4rem;
    /* justify-content: inherit; */ /* ATTENTION MENU ICONE NAVBAR MOVE IF ACTIVE ! */
  }

/* JOBTRUCK LOGO */
  .navbar-light
  .navbar-brand {
    width: 22rem;
  }
  #nav-jobtruck{
    justify-self: flex-start;
  }
/* END JOBTRUCK LOGO */

/* BURGER BUTTON */
  #burgerButton{
    display: none;
  }
/* END BURGER BUTTON */

/* MENU OPEN*/
  .show .nav-item{max-width: 50%;}
/* END MENU OPEN*/

/* LINKS PAGES */
  ul .navbar-nav{
    margin: 0 auto;
  }
  #navbarColor03 .nav-link{
    font-size: 1.7rem;
    color: #005C7D;
    font-weight: bolder;
  }
  #navbarColor03 .nav-link:hover{
    transform: scale(1.1);
  }
  nav .nav-item{
    padding: 0 3rem;
    justify-content: space-between;
  }
  nav .nav-link{
    margin: 0 auto;
  }
/* END LINKS PAGES */

  .bg-blue{
    background-color: #fff;
  }
  #navbarColor03{
    justify-content: space-around;
  }

  @media only screen and (max-width: 1380px) {
  /* TEXT RESPONSIVE*/
    #navbarColor03 .nav-link{
      font-size: 1.5rem;
    }
    #navbarColor03 .nav-link:hover{
      transform: scale(1.1);
    }
    nav .nav-item{
      padding: 0 2rem;
    }
  /* FIN TEXT RESPONSIVE*/
  }
  @media only screen and (max-width: 1180px) {
    /* TEXT RESPONSIVE*/
      #navbarColor03 .nav-link{
        font-size: 1.25rem;
      }
      nav .nav-item{
        padding: 0 1rem;
      }
    /* FIN TEXT RESPONSIVE*/
  }
/* FIN NAVBAR */

/* COLOR LIGNE UNDER NAVBAR */
.navbar{
  border-bottom:4px solid #005C7D;
}
/* COLOR LIGNE UNDER NAVBAR */
/* ############ FIN HEADER ############ */

/* ############ BODY ############ */
/*  SECTION PRINCIPAL */

/* SMARTHPHONE __________________________________________________________________________________________*/

/* DISPLAY:NONE ASIDE INFOS*/
@media only screen and (max-width: 768px) {
  div.aside { display: none;}
  .fullSize {
    padding-left: 0;
    padding-right: 0;
  }
/* FIN DISPLAY:NONE ASIDE INFOS*/
/* SECTION PRINCIPAL */
  div .container{
    margin-left: 0%;
    margin-right: 0%;
  }
  .containerPosition{
    margin-left: 0%;
    margin-right: 2%;
  }
  section#principal{
    border-radius: 5%;
    margin-top: 0;
  }
}

  /* END SECTION PRINCIPAL */
  @media only screen and (max-width: 991px) {
    #navbarColor03 .nav-link{
      transition: all 0.5s ease-in-out;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 1.8rem;
    }
    #navbarColor03 .nav-link:hover{
      transform: translate(2rem);
    }
    a.reseaux {
      font-size: 1.8rem;
      margin-top: 50%;
    }
  }
  @media only screen and (max-height: 490px) and (max-width: 991px) {
    
    #navbarColor03 .nav-link{
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
      font-size: 1.35rem;
    }
    #navbarColor03 .nav-link:first{
      padding-top: 0rem;
    }
    .navbar-light
    .navbar-brand {
      width: 40%;
      padding-bottom:0;
    }
    .menuOne{
      margin-bottom: 0;
    }
  }

/* DESKTOP __________________________________________________________________________________________*/
/* ############### MODAL ############### */
  .modal-content{
    border-radius: 1rem;
    /* width: 34rem; */
  }
  .modal-body-footer {
	text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  }
  .modal-body-footer p{
    margin-top: 1rem;
  }
  .modal-title {
    line-height: 4rem;
  }
  .modal-header-center{
    padding: 2% auto;
    align-items: center;
  }
  h4>.heigthTitle{
    font-family: "Raleway Bold", sans-serif;;
    
  }
  .h4, h4{
    font-weight: 800;
  }
  /* RETURN BUTTON */
  .btn-outline-secondary{
    color: #005C7D;
  }
  .btn-outline-secondary:hover{
    background-color: #005C7D;
    border-color: #005C7D;
  }
  .btn{
    border-radius: 1rem;
  }
  .sizeLinks{
    font-size: 1.4rem;
  }
/* END RETURN BUTTON */

/* ############# END MODAL ############# */
/* BLOC CARD */
.title-cardContainer{
  margin: 1%;
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: left;
  font-family: 'Raleway Bold', sans-serif;
}
.containerCard{
	background: #FBFBFB;
	border-radius: 8px;
	overflow: hidden;
	margin: 1rem auto;
	max-height: 18rem;
	max-width: 60rem;
}
/*  details  */
.product-details {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 1rem;
	height: 100%;
	float: right;
	width: 58%;
}
/* 	Product Name */
.containerCard .product-details h1{
	font-family: 'Raleway bold', sans-serif;
	display: inline-block;
	position: relative;
	font-size: 1.8rem;
  color: #344055;
}
/* The most important information about the product */
.containerCard .product-details > p {
	font-family: 'Raleway Thin', sans-serif;
/* 	text-align: center; */
	font-size: 1.2rem;
	color: #333333;
}
.containerCard .product-details h5{
  font-family: 'Raleway bold', sans-serif;
  font-size: 1.1rem;
  color: #344055;
}

/* DISPLAY IMAGE CARD WITH RESPONSIVE < 1000PX */
@media only screen and (max-width: 1350px) {
  .product-image {
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .product-details {
    width: 100%;
    padding: 2rem;
  }
}
/* Card image  */
.product-image {
	transition: all 0.3s ease-in-out;
	position: relative;
	height: 100%;
	float: left;
	width: 40%;
}

.containerCard img {
  width: 100%;
  height: 100%;
  float: left;
}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2);}
/* FIN BLOC CARD */

/* SECTION PRINCIPAL */
article h3{
  margin-top: 2rem;
}
.fullSize {margin-top: 1rem;}
.containerPosition{
 margin-left: 2%;
 margin-right: 2%;
}
section#principal{
  width: 99%;
  box-shadow: 8px 8px 12px #aaa; 
  border-radius: 10px;
  margin-bottom: 4%;
  padding: 1.5%;
}
section#principal>article{
  margin-top: 1rem;
  background-color: #fbfbfb;
}
#principal>article{
  border-radius: 10px;
  padding: 1% 2%;
}
.titre-para-principal{
  margin: 1%;
  font-size: 2.4rem;
  font-weight: bolder;
  text-align: center;
  font-family: 'Raleway Bold', sans-serif;
}
.para-principal{
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: 'Raleway thin', sans-serif;
}
/* FIN SECTION PRINCIPAL */

/* SECTION ASIDE INFO */
/* RESEAUX SOCIAUX */

a.reseaux{
  display:inline-block;
  margin-top: 3%;
  text-align: right;
}
aside .reseau{
  background-color: transparent;
/*   max-width: 22rem; */
/*   padding-right: 0px; */
}
div.reseau{
  text-align: end;
}
aside .row{
  justify-content: flex-end;
}
aside .fab{
  color: #FBA919;
}
aside .fas{
  color: #FBA919;
}
aside .fab:hover{
  color: #19C2FF;
}
aside .fas:hover{
  color: #19C2FF;
}
/* FIN RESEAUX SOCIAUX */


/* ################################################################################################# */

/* FIN SECTION ASIDE INFO */
/* ############ FIN BODY ############ */

/* ############ FOOTER ############ */
  .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
  .button3{  /* rajouter v3 */
    display: none;/* rajouter v3 */
  }
  footer .nav-link{
    color: white;
  }
  footer{
    color: white;   
  }
  .mention{
    background-color : black;
  }
  div .nav-link{
    align-self: center;
  }
  
  .mention p{
    margin: 0;
  }
  .mention a{
    font-size: 1.4rem;
    transition: all 0.2s ease-in 0.1s;
    text-align: center;
  }
  .reseau{
    font-size: 3rem;
    background-color : #005C7D; 
    transition: all 1s ease-in 0.2s;
  }
  /* SPECIFIC POSITIONNEMENT FOR FOOTER SECTION */
/*   .reseau-footer{
    justify-content: space-around;
  } */
  /* END SPECIFIC POSITIONNEMENT FOR FOOTER SECTION */
  .reseau a:hover{
    color :#19C2FF;
  }
  .mention a:hover{
    color :white;
    Font-Weight: Bold;
  }
/* ############ END FOOTER ############ */

/* TABLETTE __________________________________________________________________________________________*/
@media only screen and (max-width: 990px) {
  /* DISPLAY BURGER BUTTON */
  .navbar-light .navbar-toggler{
    border-color: transparent;
  }
  #burgerButton{
    display: block;
    justify-items: flex-end;
  }
  /* FIN DISPLAY BURGER BUTTON */
  /* DEBUT FOOTER*/
  .button3{
    display: none;
  }
  /* FIN FOOTER  */
}

/* SMARTHPHONE __________________________________________________________________________________________*/

@media only screen and (max-width:475px) {
/* ############ HEADER ############ */
/* NAVBAR */
/* BURGER BUTTON */
  .hamburger {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  .navfloat{
    position: absolute;
    bottom: 0; 
  }
  header{
    position: relative;
    height: 1vh;
  }
  /* Taille écriture jobtruck */
  .navbar-light
  .navbar-brand {
      width: 50%;
  }
  /* Fin Taille écriture jobtruck */
  .navbar-light
  .navbar-toggler{
      border-color: #fff;
  }
  .navbar-light 
  .navbar-toggler-icon{
      background-image: none;
      color: #fff;
  }
/* FIN NAVBAR */
#bg-image{ 
  height: 25rem;
}
/* ############ FIN HEADER ############ */

/* ############ FOOTER ############ */
  .mention{
    display: none;
  }
/* ICONE CGU */
  a.button3{
    display:inline-block;
    transition: all 0.2s;
  }
  #cgu{
    display:inline-block;
    max-height: 3rem;
    padding-bottom: .5rem;
    /* justify-content: flex-end; */
  }
  /* END ICONE CGU */
/* ############ END FOOTER ############ */

}
/* ######################## END GENERAL ######################## */