<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link  rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            {# NAVBAR #}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{# {{ path('home') }} #}">JOBTRUCK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{# {{ path('conceptPage') }} #}">Concept</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Témoignages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Évènements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Offre d'emplois</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {# END NAVBAR #}

            {# SECTION BACKGROUND IMAGE #}
            {% block image %}
                {# <img src="{{ asset('img/BG_HOME.jpg') }}" alt="Background_Accueil"> #}
            {% endblock %}
            {# END SECTION BACKGROUND IMAGE #}
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>

    <footer>

        {# MENTIONS LEGAL #}
        <div>
            <p>Copyright 2018</p>
            <a class="nav-link" href="#">Mentions Légal</a>
            <a class="nav-link" href="#">Conditions Générales d'Utilisation</a>
            <a class="nav-link" href="#">Chatre de confidencialitée</a>
        </div>
        {# FIN MENTIONS LEGAL #}
    </footer>

        {% block javascripts %}{% endblock %}
</html>
